fastapi
pydantic
python-multipart
SpeechRecognition
starlette
uvicorn
Django
Js2Py
Pillow
PyAudio
PyPrind
Pygments
SpeechRecognition
asgiref
backcall
beautifulsoup4
certifi
cffi
chardet
click
colorama
cryptography
decorator
docopt
fastapi
h11
idna
ipython
ipython-genutils
jedi
numpy
packaging
parso
pickleshare
pip
pipwin
prompt-toolkit
pySmartDL
pycparser
pydantic
pygame
pyjsparser
pyparsing
python-multipart
pytz
pywin32
requests
scapy
setuptools
six	1.13.0
soupsieve
sqlparse
starlette
traitlets
typing-extensions
tzlocal
urllib3
uvicorn
wavio
wcwidth